streamlit==1.13.0
streamlit_authenticator==0.2.1
streamlit-webrtc==0.45.0
av==10.0.0
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
deta==1.1.0
mediapipe==0.8.11
numpy==1.22.3
# threadpoolctl==3.1.0
pybase64==1.2.3
openpyxl-3.1.2
# async-timeout==4.0.2
